.btn {
	border: none;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 500;
	height: auto;
	padding: 0.8rem 2rem;
	text-decoration: none;
	text-transform: capitalize;
}
.button-primary {
	background-color: #646ff0;
	color: #fff;
}
.button-secondary {
	background-color: #cccdde;
	color: #646681;
}
